---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/screens/Header.astro";
import Footer from "../../../components/screens/Footer.astro";
import Page from "../../../components/ui/Page.astro";
import Main from "../../../components/ui/Main.astro";
import Heading from "../../../components/ui/Heading.astro";
import Content from "../../../components/ui/Content.astro";

const lang = "es";
---

<Layout lang={lang} title="Política de protección de datos">
  <Page>
    <!-- Div including Header and Main which pushes the footer at the bottom of the page  -->
    <div>
      <Header lang={lang} />
      <Main>
        <Heading>
          <h1>Política de protección de datos</h1>
        </Heading>
        <Content>
          <div class="max-w-[640px] m-auto py-12">
            <h2>1. Responsable del tratamiento de sus datos</h2>
            <p>
              Barcelona Cybersecurity (G67355958) con domicilio en Via Laietana,
              44 Pra-1 B 08003, Barcelona es la entidad responsable del
              tratamiento de sus datos.
            </p>
            <p>
              Para cualquier pregunta o duda relacionada con la privacidad de
              los datos, puede ponerse en contacto con nuestro Delegado de
              Protección de Datos (DPO) en la dirección de correo electrónico
              rgpd@cybersec.barcelona.
            </p>
            <p>
              Esta política de privacidad de datos tiene por objeto informar a
              los usuarios sobre cómo se gestionan y protegen sus datos
              personales en Barcelona Cybersecurity. Cualquier cambio en esta
              política será notificado a los usuarios de manera oportuna.
            </p>

            <h2>2. Recogida de datos personales</h2>
            <p>
              Barcelona Cybersecurity recoge los siguientes datos personales de
              sus usuarios:
            </p>
            <ul>
              <li>Nombre</li>
              <li>E-mail y dirección postal</li>
              <li>Información profesional (posición y empresa)</li>
              <li>Información económica (datos de pago)</li>
            </ul>
            <p>
              Estos datos se obtienen directamente de los usuarios a través de
              un formulario en línea durante el proceso de registro de miembros
              de la organización y para proporcionar servicios esenciales.
            </p>

            <h2>3. Finalidad del tratamiento de datos</h2>
            <p>
              Los datos personales se recogen y utilizan con las siguientes
              finalidades
            </p>
            <ul>
              <li>
                Registro y gestión de la membresía de Barcelona Cybersecurity.
              </li>
              <li>
                Prestar servicios y recursos relacionados con la ciberseguridad
                dentro de la entidad Barcelona Cybersecurity.
              </li>
              <li>
                Comunicaciones a través de una newsletter para mantener
                informados a los usuarios sobre eventos, actualizaciones y
                noticias relevantes.
              </li>
            </ul>

            <h2>4. Duración de la conservación de datos</h2>
            <p>
              Los datos personales se conservarán únicamente durante el tiempo
              necesario para el cumplimiento de las finalidades anteriores y
              para el funcionamiento de la afiliación.
            </p>

            <h2>5. Seguridad de los datos</h2>
            <p>
              Barcelona Ciberseguridad aplica medidas de seguridad para proteger
              los datos personales frente a accesos no autorizados, pérdidas o
              modificaciones. El acceso a los datos está restringido a los
              administradores de la entidad y está protegido por contraseñas
              seguras.
            </p>

            <h2>6. Derechos de privacidad de los usuarios</h2>
            <p>
              Los usuarios tienen derecho a acceder, rectificar, suprimir o
              solicitar la limitación del tratamiento de sus datos personales.
              Para ejercer estos derechos o realizar cualquier consulta
              relacionada con la privacidad de los datos, los usuarios pueden
              ponerse en contacto con nosotros a través del correo electrónico
              rgpd@cybersec.barcelona.
            </p>

            <h2>7. Política de cookies y rastreo</h2>
            <p>
              En la web de Barcelona Ciberseguridad no se utiliza ninguna
              política de cookies ni de rastreo.
            </p>

            <h2>8. Cumplimiento Legal y Legitimación</h2>
            <p>
              Barcelona Cybersecurity se compromete a cumplir con todas las
              leyes de protección de datos aplicables, incluido el Reglamento
              General de Protección de Datos (GDPR) de la Unión Europea.
            </p>

            <div class="py-12">
              <p>Documento actualizado por última vez en: 2023-10-09</p>
            </div>
          </div>
        </Content>
      </Main>
    </div>
    <Footer lang={lang} />
  </Page>
</Layout>
