---
import Layout from '../../../layouts/Layout.astro';
import Header from '../../../components/screens/Header.astro';
import Footer from '../../../components/screens/Footer.astro';
import Page from '../../../components/ui/Page.astro';
import Main from '../../../components/ui/Main.astro';
import Heading from '../../../components/ui/Heading.astro';
import Content from '../../../components/ui/Content.astro';

const lang = "en"
---

<Layout lang={lang} title="Data protection policy">
	<Page>
		<!-- Div including Header and Main which pushes the footer at the bottom of the page  -->
		<div>
			<Header lang={lang}/>
			<Main>
				<Heading>
					<h1>Data protection policy</h1>
				</Heading>
				<Content>
					<div class="max-w-[640px] m-auto py-12">

						<h2>1. Responsible for the processing of your data</h2>
						<p>Barcelona Cybersecurity (G67355958) with address at Via Laietana, 44 Pra-1 B 08003, Barcelona is the entity responsible for the processing of your data.</p>
						<p>For any questions or concerns related to data privacy, you can contact our Data Protection Officer (DPO) at the e-mail address rgpd@cybersec.barcelona.</p>
						<p>This data privacy policy is intended to inform users about how their personal data is managed and protected within Barcelona Cybersecurity. Any changes to this policy will be notified to users in a timely manner.</p>

						<h2>2. Collection of personal data</h2>
						<p>Barcelona Cybersecurity collects the following personal data from its users:</p>
					
						<ul>
							<li>Name</li>
							<li>E-mail and postal address</li>
							<li>Professional information (position and company)</li>
							<li>Economic data (payment information)</li>
						</ul>
						<p>This data is obtained directly from users through an online form during the organization's membership registration process and to provide essential services.</p>

						<h2>3. Purpose of Data Processing</h2>
						<p>Personal data is collected and used for the following purposes:</p>
						<ul>
							<li>Registration and management of Barcelona Cybersecurity membership.</li>
							<li>Provide services and resources related to cybersecurity within the Barcelona Cybersecurity entity.</li>
							<li>Communications through a newsletter to keep users informed about events, updates and relevant news.</li>
						</ul>
					
						<h2>4. Duration of Data Retention</h2>
						<p>Personal data will be retained only for the time necessary to fulfill the above purposes and for the operation of the membership.</p>

						<h2>5. Data Security</h2>
						<p>Barcelona Cybersecurity implements security measures to protect personal data from unauthorized access, loss or modification. Access to data is restricted to the entity's administrators and is protected by secure passwords.</p>
						
						<h2>6. User Privacy Rights</h2>
						<p>Users have the right to access, rectify, delete or request the limitation of the processing of their personal data. To exercise these rights or make any query related to data privacy, users can contact us via email at rgpd@cybersec.barcelona.</p>
						
						<h2>7. Cookie Policy and Tracking</h2>
						<p>No cookie or tracking policy is used on the Barcelona Cybersecurity website.</p>
					
						<h2>8. Legal Compliance and Legitimation</h2>
						<p>Barcelona Cybersecurity is committed to complying with all applicable data protection laws, including the General Data Protection Regulation (GDPR) in the European Union.</p>
						
						<div class="py-12">
							<p>Document last updated on: 2023-10-09</p>
						</div>
					</div>
				</Content>
			</Main>
		</div>
		<Footer lang={lang}/>
	</Page>
</Layout>
