---
const { photo, photoAltText, title, subtitle } = Astro.props;
import { Image } from "astro:assets";
import SmallTitle from "../primitives/text/SmallTitle.astro";
import Paragraph from "../primitives/text/Paragraph.astro";
---

<div class="mx-auto w-auto content-center rounded-3xl bg-[#E3E0FA] p-6">
  <Image class="mx-auto w-auto rounded-3xl" src={photo} alt={photoAltText} />
  <br />
  <SmallTitle titleText={title} extraCss="text-[#3E37C9] text-left" />
  <Paragraph text={subtitle} extraCss="text-[#3E37C9] text-justify" />
</div>
