---
const { imgSrc, imgAltText, title, url } = Astro.props;
import { Image } from "astro:assets";
---

<div class="rounded-lg border border-gray06 p-4">
  <Image
    src={imgSrc}
    width={600}
    height={338}
    format="webp"
    class="rounded-lg w-full mx-auto mb-4"
    alt={imgAltText}
  />
  <h3><a href={url}>{title}</a></h3>
</div>
