---
const { iconName, text } = Astro.props;
import { Image } from "astro:assets";
import SmallTitle from "../primitives/text/SmallTitle.astro";
import Paragraph from "../primitives/text/Paragraph.astro";
const IconURL = "/icons/" + iconName + ".svg";
---

<div class="my-auto">
  <div class="grid rounded-3xl bg-[#E3E0FA] p-6 md:grid-cols-[0.75fr,4fr]">
    <div class="my-auto h-auto">
      <img
        class="mx-auto w-full max-w-[3rem] align-middle"
        src={IconURL}
        alt="Icon"
      />
    </div>
    <div class="my-auto h-auto md:ml-4">
      <Paragraph
        text={text}
        extraCss="text-[#3E37C9] text-center md:text-left"
      />
    </div>
  </div>
</div>
