---
import Layout from "../../../layouts/Layout.astro";
import Header from "../../../components/screens/Header.astro";
import Footer from "../../../components/screens/Footer.astro";
import BigTitle from "../../../components/primitives/text/BigTitle.astro";
import Paragraph from "../../../components/primitives/text/Paragraph.astro";
import SmallTitle from "../../../components/primitives/text/SmallTitle.astro";

const lang = "es";
---

<Layout lang={lang} title="Blog">
  <Header lang={lang} />
  <main
    class="max-w-7xl bg-gradient-to-br from-[#465FFF] to-[#837EDC] md:max-w-none"
  >
    <br />
    <BigTitle titleText="Blog" extraCss="text-center" />
    <Paragraph
      text="Explora los temas que hemos tratado en Barcelona Cybersecurity"
      extraCss="max-w-7xl text-center md:px-0 px-6"
    />
    <br />
    <div
      class="mx-auto grid w-4/5 grid-cols-1 content-center gap-8 rounded-3xl p-6 md:grid-cols-3 md:grid-rows-1"
    >
      <div
        class="mx-auto w-auto content-center rounded-3xl bg-gradient-to-br from-[#A8ACFF] to-[#FFFFFF] p-6"
      >
        <a href="/en/blog/posts/ia-aplicada-ciberseguridad/">
          <SmallTitle
            titleText="IA aplicada a la seguridad: ¿Sueñan los androides con criminales adversarios?"
            extraCss="text-[#465FFF] underline text-justify"
          />
        </a>
        <br />
        <Paragraph
          text="A menos que lleves de 9 a 11 meses viviendo en una granja sin cobertura en la montaña, ya le habrás dado un tiento o dos a ChatGPT. A finales del año pasado, sin verlo venir por ninguna parte si no se estaba dentro del mundillo, de repente había accesible un asistente de texto con..."
          extraCss="text-[#465FFF] text-justify"
        />
        <br />
        <a href="/en/blog/posts/ia-aplicada-ciberseguridad/">
          <Paragraph
            text="Read more"
            extraCss="text-[#465FFF] font-black underline text-left"
          />
        </a>
      </div>
      <br />
    </div>
    <Footer lang={lang} />
  </main>
</Layout>
