---
interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<li
  class="flex list-none rounded-[7px] bg-[#23262d] bg-none bg-[100%] bg-[400%] p-1 shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] transition-[background-position] duration-[0.6s] ease-[cubic-bezier(0.22,1,0.36,1)]"
>
  <a
    href={href}
    class="m-0 text-[1.25rem] transition-colors duration-[0.6s] ease-[cubic-bezier(0.22,1,0.36,1)]"
  >
    <h2
      class="m-0 text-[1.25rem] transition-colors duration-[0.6s] ease-[cubic-bezier(0.22,1,0.36,1)]"
    >
      {title}
      <span>&rarr;</span>
    </h2>
    <p class="mb-0 mt-2">
      {body}
    </p>
  </a>
</li>
