<!-- Footer -->
<div class="footer footer--dark">
  <div class="container">
    <div class="footer__inner">
      <a href="index.html" class="footer__textLogo"><img src="{{ '/static/images/logo-1.png'|asseturl }}" class="logo__image" alt="Logo"</a>
      <div class="footer__data">
        <div class="footer__data__item">
          <div class="footer__row">
            Created by <a href="#" class="footer__link">Barcelona Cyber Security</a>
          </div>
        </div>
        <div class="footer__data__item">
        <div class="footer__row">
          <a href="https://github.com/bcncybersecurity/" target="_blank" class="footer__link">GitHub</a>
        </div>
        <div class="footer__row">
          <a href="https://twitter.com/BCNCyberSec" target="_blank" class="footer__link">Twitter</a>
        </div>
        <div class="footer__row">
          <a href="https://www.linkedin.com/company/cyber-barcelona" target="_blank" class="footer__link">Linkedin</a>
        </div>
        <div class="footer__row">
          <p>MIT license</p>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ '/static/js/app.min.js'|asseturl }}"></script>
