{% include 'header.html' %}
<!-- Hero unit -->
<div class="hero">
	<div class="hero__overlay hero__overlay--gradient"></div>
	<div class="hero__mask"></div>
	<div class="hero__inner">
		<div class="container">
			<div class="hero__content">
				<div class="hero__content__inner" id='navConverter'>
					{% block body %}{% endblock %}
					<a href="https://www.meetup.com/Barcelona-Cybersecurity/" class="button button__accent">Meetup</a>
					<a href="/about" class="button hero__button">About</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hero__sub">
	<span id="scrollToNext" class="scroll">
		<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" class='hero__sub__down' fill="currentColor" width="512px" height="512px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve"><path d="M256,298.3L256,298.3L256,298.3l174.2-167.2c4.3-4.2,11.4-4.1,15.8,0.2l30.6,29.9c4.4,4.3,4.5,11.3,0.2,15.5L264.1,380.9c-2.2,2.2-5.2,3.2-8.1,3c-3,0.1-5.9-0.9-8.1-3L35.2,176.7c-4.3-4.2-4.2-11.2,0.2-15.5L66,131.3c4.4-4.3,11.5-4.4,15.8-0.2L256,298.3z"/></svg>
	</span>
</div>
<!-- Steps -->
<div class="steps landing__section">
	<div class="container">
		<h2>Interested?</h2>
		<p>Here's how to get involved.</p>
	</div>
	<div class="container">
		<div class="steps__inner">
			<div class="step">
				<div class="step__media">
          <a href="https://www.meetup.com/Barcelona-Cybersecurity/">
					  <img src="{{ '/static/images/undraw_candidate_ubwv.svg'|asseturl }}" class="step__image">
          </a>
				</div>
				<h4><a href="https://www.meetup.com/Barcelona-Cybersecurity/">Meetups</a></h4>
				<p class="step__text">A <a href="https://www.meetup.com/Barcelona-Cybersecurity/">Meetup group</a> about cyber security, privacy, cyber rights. You should join if you are a scientist, developer or any cybersecurity enthusiast.</p>
			</div>
			<div class="step">
				<div class="step__media">
          <a href="https://github.com/bcncybersecurity/">
					  <img src="{{ '/static/images/undraw_predictive_analytics_kf9n.svg'|asseturl }}" class="step__image">
          </a>
				</div>
				<h4><a href="https://github.com/bcncybersecurity/">Slides and more</a></h4>
				<p class="step__text">Slides from past events can be found on our <a href="https://github.com/bcncybersecurity/">GitHub</a>.</p>
			</div>
			<div class="step">
				<div class="step__media">
          <a href="https://barcelonacybersec.herokuapp.com/">
					  <img src="{{ '/static/images/undraw_conversation_h12g.svg'|asseturl }}" class="step__image">
          </a>
				</div>
				<h4><a href="https://barcelonacybersec.herokuapp.com/">Slack Community</a></h4>
				<p class="step__text">We have a slack community: cyberbcn.slack.com. Sign up <a href="https://barcelonacybersec.herokuapp.com/">here</a>!</p>
			</div>
		</div>
	</div>
</div>
{% include 'footer.html' %}
</body>
</html>
