{% extends "hero-layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block hero %}
<h1 class="hero__title">{{ this.title }}</h1>
<p class="hero__text">
  {{ this.intro }}
</p>
{% endblock %}
{% block body %}
<div class="steps landing__section">
	<div class="container">
		<h2>Interested?</h2>
		<p>Here's how to get involved.</p>
	</div>
	<div class="container">
		<div class="steps__inner">
			<div class="step">
				<div class="step__media">
					<a href="https://www.meetup.com/Barcelona-Cybersecurity/">
						<img src="{{ '/static/images/undraw_candidate_ubwv.svg'|asseturl }}" class="step__image">
					</a>
				</div>
				<h4><a href="https://www.meetup.com/Barcelona-Cybersecurity/">Meetups</a></h4>
				<p class="step__text">A <a href="https://www.meetup.com/Barcelona-Cybersecurity/">Meetup group</a> about cyber security, privacy, cyber rights. You should join if you are a scientist, developer or any cybersecurity enthusiast.</p>
			</div>
			<div class="step">
				<div class="step__media">
					<a href="https://github.com/bcncybersecurity/">
						<img src="{{ '/static/images/undraw_predictive_analytics_kf9n.svg'|asseturl }}" class="step__image">
					</a>
				</div>
				<h4><a href="https://github.com/bcncybersecurity/">Slides and more</a></h4>
				<p class="step__text">Slides from past events can be found on our <a href="https://github.com/bcncybersecurity/">GitHub</a>.</p>
			</div>
			<div class="step">
				<div class="step__media">
					<a href="https://barcelonacybersec.herokuapp.com/">
						<img src="{{ '/static/images/undraw_conversation_h12g.svg'|asseturl }}" class="step__image">
					</a>
				</div>
				<h4><a href="https://barcelonacybersec.herokuapp.com/">Slack Community</a></h4>
				<p class="step__text">We have a slack community: cyberbcn.slack.com. Sign up <a href="https://barcelonacybersec.herokuapp.com/">here</a>!</p>
			</div>
		</div>
	</div>
</div>
<div class="steps landing__section">
	<div class="container">
		<h2>Members</h2>
		<p>The key people without which this community wouldn't be possible.</p>
	</div>
	<div class="container">
		{% for member_row in this.members.blocks | batch(3) %}
			<div class="steps__inner">
			{% for member in member_row %}
				{{member}}
			{% endfor %}
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
