---
const { titleText, alignment, extraCss } = Astro.props;
var titleCssClass ="mb-4 text-7xl font-semibold tracking-tight text-white max-w-5xl mx-auto text-" + alignment 
titleCssClass = titleCssClass + " " + extraCss
---
<h1 class={titleCssClass}>{titleText}</h1>