---
const { text, link } = Astro.props;
---

<a href={link} target="_blank">
  <button
    type="button"
    class="text-white bg-brand border border-brand hover:bg-dark hover:text-brand font-medium rounded-full text-sm px-4 py-2 text-center"
    >{text}</button
  >
</a>
